html, body {
	height: 100%;
    padding: 0;
    margin: 0;
}

#search_form {
	padding-left: 10px;
	width: 23%;
	float: left
}
.div_pad {
	padding-top: 15px;
}

.leaflet-container {
  position: absolute;
  right: 0;
  height: 100%;
  width: 75%;
}
